################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeckOfCards/obj
/TestDeckOfCards/bin/Debug/net5.0
/TestDeckOfCards/obj
